@import url('./custom_icons.css');

:root {
    --theme_color10: hsl(193, 100%, 45%);
    --theme_color20: hsl(193, 100%, 75%);
    --theme_color30: hsl(193, 100%, 85%);
    --theme_color40: hsl(193, 100%, 95%);
    --font_primary: 'Inter', sans-serif;
    --shadow_one: 0px 8px 24px rgba(149, 157, 165, 0.3);
    --shadow_two: 0px 7px 29px rgba(100, 100, 111, 0.2);
    --shadow_three: 0px 3px 16px rgba(100, 100, 111, 0.16);
    --border_color: #e5e5e5;
    --light_text_color: #555555;
    --dark_text_color: #121212;
    --header_color: #fff;
    --footer_color: #e5e5e5;
    --main_menu_color: #fff;
}

body, html {
    height: 100%
}

    html body {
        font-family: var(--font_primary);
        line-height: 1;
        font-size: 16px;
        color: var(--light_text_color)
    }

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0
}

ul {
    list-style: none
}

.form-check-input[type=radio] {
    accent-color: var(--theme_color10)
}

.form-check-input:checked {
    background-color: var(--theme_color10);
    border-color: var(--theme_color20)
}

.form-check-input:focus {
    border-color: var(--theme_color20);
    outline: 0;
    box-shadow: 0 0 0 .25rem var(--theme_color40)
}

blockquote, q {
    quotes: none
}

    blockquote:after, blockquote:before, q:after, q:before {
        content: '';
        content: none
    }

body a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
    text-decoration: none;
    color: currentColor
}

.auth_page, .auth_wrap {
    height: 100%
}

.auth_wrap {
    display: table;
    width: 100%
}

.auth_right {
    background-repeat: no-repeat;
    height: 100vh;
    width: 50%;
    background-size: cover;
    max-width: 960px;
    display: table-cell;
    background-position: center bottom
}

.auth_left {
    width: 50%;
    display: table-cell;
    padding: 30px
}

.auth_form_wrap {
    width: 100%;
    max-width: 400px;
    margin: 0 auto
}
.main_btn_ulimited {
    background: linear-gradient(90deg, #c4c4c4 0, #c4c4c4 100%);
    /*background: #c4c4c4;*/
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border-radius: 10px;
    padding: 10px 25px;
    box-shadow: var(--shadow_one);
    background-size: 300% 100%;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    display: inline-flex;
    min-height: 50px;
    align-items: center
}

.main_btn_ulimited:hover {
    background: linear-gradient(90deg, var(--theme_color20) 0, var(--theme_color10) 100%);
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: #fff;
    cursor: pointer;
}

.main_btn {
    background: linear-gradient(90deg, var(--theme_color20) 0, var(--theme_color10) 100%);
    /*background: #c4c4c4;*/
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border-radius: 10px;
    padding: 10px 25px;
    box-shadow: var(--shadow_one);
    background-size: 300% 100%;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    display: inline-flex;
    min-height: 50px;
    align-items: center
}

    /*.main_btn:hover {
        background: linear-gradient(90deg, var(--theme_color20) 0, var(--theme_color10) 100%);
        background-position: 100% 0;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        color: #fff;
        cursor: pointer;
    }*/

    .main_btn:disabled {
        background: linear-gradient(90deg, #c4c4c4 0, #c4c4c4 100%);
        pointer-events: none;
        opacity: .65;
        cursor: not-allowed
    }

.back_btn {
    background: #fff;
    font-size: 16px;
    font-weight: 600;
    min-height: 50px;
    color: var(--dark_text_color);
    border-radius: 10px;
    padding: 10px 25px;
    box-shadow: var(--shadow_one);
    background-size: 300% 100%;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

    .back_btn:hover {
        background-color: #e5e5e5;
        color: var(--dark_text_color)
    }

.sec_btn {
    background-color: #c4c4c4;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border-radius: 10px;
    padding: 10px 25px;
    box-shadow: var(--shadow_one);
    background-size: 300% 100%;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    display: inline-flex;
    min-height: 50px;
    align-items: center
}

    .sec_btn:hover {
        background-color: #a4a4a4;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        color: #fff
    }

.auth_form button {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center
}

form .form-control-lg {
    border-radius: .75rem;
    height: 60px;
    border-color: var(--border_color)
}

.form_title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--dark_text_color)
}

label {
    color: var(--dark_text_color)
}

.switch_form a {
    font-weight: 600;
    color: currentColor;
    transition: all .4s ease-in-out
}

    .switch_form a:hover {
        color: var(--theme_color10)
    }

.auth_form_sec .nav-pills .nav-link {
    color: var(--dark_text_color);
    border: 1px solid var(--border_color);
    padding: 10px 20px;
    border-radius: 10px;
    width: 190px;
    font-size: 14px;
    line-height: 18px;
    height: 60px
}

    .auth_form_sec .nav-pills .nav-link.active, .auth_form_sec .nav-pills .show > .nav-link {
        background-color: #fff;
        color: var(--dark_text_color);
        box-shadow: var(--shadow_one)
    }

.auth_policy_text a {
    color: currentColor;
    transition: all .4s ease-in-out;
    text-decoration: underline
}

    .auth_policy_text a:hover {
        color: currentColor
    }

.otp_input_wrap {
    display: flex;
    gap: 5px;
    margin: 25px auto
}

    .otp_input_wrap .form-control[readonly] {
        background-color: transparent;
        text-align: center
    }

.auth_policy_text p {
    line-height: 1.75rem
}

.services_list a:hover {
    color: currentColor
}

header {
    position: relative;
    padding: 8px 0;
    border-bottom: 1px solid var(--border_color);
    background-color: var(--header_color);
}

    header::before {
        content: '';
        height: 2px;
        width: 100%;
        background: linear-gradient(90deg, var(--theme_color20) 0, var(--theme_color10) 100%);
        position: absolute;
        top: 0;
        left: 0
    }

.header_logo img {
    max-height: 80px;
    width: 100px;
    object-fit: cover
}

.user_name_i {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    margin-right: 15px;
    text-transform: uppercase;
    background-color: var(--theme_color10)
}

.uah_info small {
    display: block
}

.uah_name {
    color: var(--dark_text_color);
    margin-bottom: 5px;
    font-size: 1.1rem;
    text-transform: capitalize;
}

.dropdown .dropdown-menu {
    border-radius: 10px;
    box-shadow: var(--shadow_two);
    border: none
}

    .dropdown .dropdown-menu .dropdown-item {
        padding: 1rem .5rem 1rem 1rem
    }

.dropdown-item .icon {
    display: inline-flex;
    vertical-align: middle;
    margin-right: 10px
}

.dropdown .dropdown-menu.show {
    transform: translate(0,52px) !important
}

.main_menu {
    box-shadow: var(--shadow_three);
    margin-bottom: 24px;
    background-color: var(--main_menu_color);
}

    .main_menu .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 14px;
        position: relative;
        padding: 1rem 1rem;
        transition: all .4s ease-in-out;
        text-align: center;
        font-weight: 600;
    }

        .main_menu .navbar-expand-lg .navbar-nav .nav-link::before {
            width: 0;
            height: 2px;
            background: linear-gradient(270deg,var(--theme_color10) 0,var(--theme_color20) 98.75%);
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: all .2s ease-in-out
        }

    .main_menu .navbar-nav .nav-link.active::before, .main_menu .navbar-nav .nav-link:hover::before {
        width: 40px;
        transform-origin: center
    }

.main_title h2 {
    font-size: 1.5rem;
    color: var(--dark_text_color);
    font-weight: 600
}

.service_box {
    width: 100%;
    border: 1px solid var(--border_color);
    border-radius: 10px;
    margin: 10px auto;
    padding: 15px;
    display: flex;
    align-items: center;
    min-height: 120px;
    transition: all .4s ease-in-out;
    position: relative
}

    .service_box:hover {
        box-shadow: var(--shadow_one)
    }

.ser_info {
    width: calc(100% - 95px)
}

.ser_img {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--theme_color40);
    margin-right: 15px
}

    .ser_img img {
        max-width: 50px;
        max-height: 50px;
        object-fit: contain
    }

.ser_info h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--dark_text_color)
}

.ser_info span {
    line-height: 1.5rem
}

.recomm::before {
    content: 'Most recommended';
    text-transform: uppercase;
    color: #ddba00;
    background-color: #fff7cb;
    font-size: 10px;
    font-weight: 700;
    position: absolute;
    padding: .35rem .5rem;
    border-radius: 5px;
    top: -10px;
    letter-spacing: 1px;
    left: 15px
}

nav .offcanvas-start {
    width: 300px;
    border-right: none;
}

.user_acc_head .dropdown-menu {
    z-index: 1001;
}

.offcanvas-start .offcanvas-header {
    position: relative
}

    .offcanvas-start .offcanvas-header::before {
        content: '';
        height: 2px;
        width: 100%;
        background: linear-gradient(90deg, var(--theme_color20) 0, var(--theme_color10) 100%);
        position: absolute;
        top: 0;
        left: 0
    }

.progress-circle {
    font-size: 14px;
    margin-right: 20px;
    position: relative;
    padding: 0;
    width: 50px;
    height: 50px;
    background-color: #f2e9e1;
    border-radius: 50%;
    line-height: 50px
}

    .progress-circle::after {
        border: none;
        position: absolute;
        top: 4px;
        left: 4px;
        text-align: center;
        display: block;
        border-radius: 50%;
        width: 42px;
        height: 42px;
        background-color: #fff;
        content: " "
    }

    .progress-circle span {
        position: absolute;
        line-height: 50px;
        width: 50px;
        text-align: center;
        display: block;
        color: currentColor;
        z-index: 2
    }

.left-half-clipper {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    clip: rect(0,50px,50px,25px)
}

.progress-circle.over50 .left-half-clipper {
    clip: rect(auto,auto,auto,auto)
}

.value-bar {
    position: absolute;
    clip: rect(0,25px,50px,0);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4.5px solid var(--theme_color10);
    box-sizing: border-box
}

.progress-circle.over50 .first50-bar {
    position: absolute;
    clip: rect(0,50px,50px,25px);
    background-color: var(--theme_color10);
    border-radius: 50%;
    width: 50px;
    height: 50px
}

.progress-circle:not(.over50) .first50-bar {
    display: none
}

.progress-circle.p0 .value-bar {
    display: none
}

.progress-circle.p10 .value-bar {
    transform: rotate(36deg)
}

.progress-circle.p20 .value-bar {
    transform: rotate(72deg)
}

.progress-circle.p30 .value-bar {
    transform: rotate(108deg)
}

.progress-circle.p40 .value-bar {
    transform: rotate(144deg)
}

.progress-circle.p50 .value-bar {
    transform: rotate(180deg)
}

.progress-circle.p60 .value-bar {
    transform: rotate(216deg)
}

.progress-circle.p70 .value-bar {
    transform: rotate(252deg)
}

.progress-circle.p80 .value-bar {
    transform: rotate(288deg)
}

.progress-circle.p90 .value-bar {
    transform: rotate(324deg)
}

.progress-circle.p100 .value-bar {
    transform: rotate(360deg)
}

.custom_tabs {
    border-bottom: 1px solid var(--border_color)
}

    .custom_tabs .nav-link {
        position: relative;
        font-size: 14px;
        color: var(--light_text_color);
        padding: 1rem 1rem
    }

        .custom_tabs .nav-link.active {
            color: var(--dark_text_color)
        }

        .custom_tabs .nav-link::before {
            width: 0;
            height: 2px;
            background: linear-gradient(270deg,var(--theme_color10) 0,var(--theme_color20) 98.75%);
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            transition: all .2s ease-in-out
        }

        .custom_tabs .nav-link.active::before, .custom_tabs .nav-link:hover::before {
            width: 40px;
            transform-origin: center
        }

.wc_box {
    width: 100%;
    border: 1px solid var(--border_color);
    border-radius: 10px;
    margin: 10px auto;
    min-height: 120px;
    transition: all .4s ease-in-out;
    position: relative
}

    .wc_box:hover {
        box-shadow: var(--shadow_one)
    }

    .wc_box .wc_info {
        padding: 15px
    }

.wc_info h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--dark_text_color)
}

.wc_info span {
    line-height: 1.5rem
}

.wc_service_list {
    padding-left: 1rem;
    margin-top: 10px;
    margin-bottom: 0;
    height: 80px;
    overflow-y: scroll
}

    .wc_service_list li {
        list-style: disc;
        margin: 5px 0;
        font-size: .85rem
    }

.wc_foot {
    height: 40px;
    display: flex;
    background-color: var(--theme_color10);
    border-radius: 0 0 8px 8px;
    color: #fff;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    font-weight: 600
}

    .wc_foot a:hover {
        color: currentColor
    }

.wc_img img {
    max-height: 146px;
    width: 100%;
    object-fit: contain
}

.wc_voucher .wc_foot {
    justify-content: center
}

.scroller {
    scrollbar-color: #7f7f7f #e5e5e5;
    scrollbar-width: thin
}

    .scroller::-webkit-scrollbar {
        width: 7.5px
    }

    .scroller::-webkit-scrollbar-track {
        background: #e5e5e5
    }

    .scroller::-webkit-scrollbar-thumb {
        background: #7f7f7f;
        border-right: 1px solid #fff;
        border-radius: 3px
    }

.icon_btn {
    display: inline-flex;
    height: 50px;
    align-items: center
}

    .icon_btn span {
        margin: 0 5px
    }

.for_other_form {
    background-color: #f2f2f2;
    border-radius: 10px
}

.wc_selected {
    border: 1px solid var(--theme_color10);
    box-shadow: var(--shadow_one)
}

.card_type {
    display: inline-flex;
    border: 1px solid var(--border_color);
    padding: 1px 2px;
    border-radius: 4px;
    overflow: hidden
}

.card_info .form-check-label {
    display: inline-flex;
    align-items: center;
    cursor: pointer
}

    .card_info .form-check-label > span {
        margin: 0 5px
    }

.form-check-input {
    width: 1em;
    height: 1em;
    margin-top: .35em
}

.ccards_table {
    border-spacing: 0 .5em;
    border-collapse: separate
}

    .ccards_table td, .ccards_table th {
        text-align: center;
        transition: all ease .3s
    }

    .ccards_table th {
        font-weight: 400;
        font-size: 14px;
        border-bottom: 1px solid var(--border_color);
        padding-bottom: 10px
    }

        .ccards_table td:first-child, .ccards_table th:first-child {
            text-align: left
        }

    .ccards_table tr td:first-child {
        border-radius: 10px 0 0 10px;
        min-width: 360px
    }

    .ccards_table tr td:last-child {
        border-radius: 0 10px 10px 0
    }

    .ccards_table tr:hover td {
        background-color: #f5f5f5;
        cursor: pointer
    }

.new_card_add .btn-outline-secondary {
    border: 1px solid var(--border_color);
    padding: 1rem;
    border-radius: 10px
}

    .new_card_add .btn-outline-secondary:hover {
        background-color: var(--theme_color10);
        border-color: var(--theme_color10)
    }

.os_user_plan {
    min-height: 100px
}

.promo_form {
    border-top: 1px dashed #c4c4c4;
    border-bottom: 1px dashed #c4c4c4;
    padding: 10px 0
}

.list_items {
    margin: 0;
    padding: 0
}

    .list_items li {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    flex-wrap: wrap;
    gap: 8px;
    }

.order_details li:last-child {
    border-top: 1px dashed #c4c4c4;
    margin-top: 10px;
    padding-top: 15px
}

.summary_card {
    border: 1px solid var(--border_color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: var(--shadow_one)
}

.promo_code {
    font-size: 16px;
    height: 60px;
    border-radius: 10px
}

.main_wrap {
    min-height: calc(100vh - 247px);
    padding: 0;
}

.condi_checks .form-check {
    font-size: 14px;
    margin-bottom: 15px
}

.condi_checks .form-check-input {
    margin-top: 0
}

h5 {
    font-size: 18px;
    font-weight: 600;
    color: var(--dark_text_color)
}

.add_cc_form {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px 15px;
    margin-top: 15px
}

.btn-check:focus + .btn-outline-secondary, .btn-outline-secondary:focus {
    box-shadow: none
}

.add_cc_form .form-check input {
    margin-top: .25rem
}

.add_cc_form .form-check label {
    line-height: 20px
}

footer {
    background-color: var(--footer_color)
}

.footer_menu {
    margin-bottom: 25px;
    padding: 0;
    text-align: center
}

    .footer_menu li {
        margin: .75rem 0.1rem;
        display: inline-block
    }

        .footer_menu li a {
            font-size: 14px;
            color: var(--dark_text_color)
        }

            .footer_menu li a:hover {
                text-decoration: underline
            }

.back_link {
    font-size: 16px;
    font-weight: 600;
    color: var(--dark_text_color)
}

    .back_link:hover {
        color: var(--dark_text_color)
    }

.order_box {
    border: 1px solid var(--border_color);
    border-radius: 10px;
    margin-bottom: 15px;
    transition: all .4s ease-in-out
}

    .order_box:hover {
        box-shadow: var(--shadow_one)
    }

.od_head {
    padding: 1rem;
    background-color: #f2f2f2;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid var(--border_color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px
}

.od_item_info {
    padding: 1rem
}

.od_trans_info {
    padding: 0 1rem 1rem 1rem;
    display: flex;
    flex-wrap: wrap
}

    .od_trans_info > div {
        flex-basis: 50%
    }

        .od_trans_info > div span {
            display: block;
            margin-top: 8px;
            color: var(--dark_text_color)
        }

.od_item_info .ser_img {
    width: 40px;
    height: 40px
}

    .od_item_info .ser_img img {
        width: 25px;
        height: 25px
    }

.od_foot {
    padding: 0 1rem 1rem 1rem
}

    .od_foot .main_btn {
        width: 100%;
        justify-content: center;
        padding: 5px 20px;
        min-height: 40px
    }

.rc_card > td {
    background-color: #f2f2f2
}

.rc_card_badge {
    padding: 8px 16px;
    border-radius: 16px;
    font-size: 12px;
    color: #ddba00;
    border: 1px solid #ddba00;
    background-color: #fff7cb
}

.table .form-check-input {
    margin-top: .4rem
}

.remove_btn {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out
}

    .remove_btn:hover {
        background-color: rgba(233,56,56,.1)
    }

.view_btn {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out
}

.ccards_table td {
    vertical-align: middle;
    min-width: 150px
}

.cw_modal .modal-header {
    border-bottom: 0
}

.cw_modal .modal-footer {
    border-top: 0
}

.cw_modal .modal-dialog .modal-content {
    border-radius: 10px;
    border: none;
    padding: 1rem 0
}

.add_card_pop .modal-content > div {
    max-width: 400px;
    margin: 0 auto;
    width: 100%
}

.ma_card {
    border: 1px solid var(--border_color);
    padding: 25px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-height: 190px;
    margin-bottom: 15px;
    transition: all .4s ease-in-out
}

    .ma_card:hover {
        box-shadow: var(--shadow_one)
    }

    .ma_card h4 {
        font-size: 20px;
        font-weight: 600;
        color: var(--dark_text_color)
    }

    .ma_card a {
        color: var(--theme_color10)
    }

        .ma_card a:hover {
            color: var(--theme_color20)
        }

.mac_img {
    width: 80px;
    height: 80px;
    background-color: #f2f2f2;
    border-radius: 50%;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-right: 15px
}

    .mac_img img {
        max-width: 80px;
        max-height: 80px;
        object-fit: cover
    }

.ma_card ul {
    margin: 0;
    padding: 0
}

    .ma_card ul li {
        margin: 8px 0;
        word-break: break-all
    }

.mac_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    min-height: 140px;
}

.ma_info_card .mac_info {
    width: calc(100% - 95px)
}

.policy_wrap p {
    line-height: 1.5
}

.other_amount_input {
    border: 1px solid var(--border_color);
    border-radius: 10px
}

    .other_amount_input .input-group-text {
        background-color: transparent;
        border: none;
        font-size: 1.5rem;
        color: var(--dark_text_color)
    }

    .other_amount_input .form-control-lg {
        font-size: 1rem;
        height: 50px;
        background-color: transparent;
        border: none
    }

.form-control:focus {
    box-shadow: none
}

.tab-content {
    min-height: 400px
}

.amount_btn_grp button {
    background: #fff;
    display: inline-flex;
    width: 110px;
    height: 50px;
    border: 1px solid var(--border_color);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    margin-right: 16px;
    transition: all ease .3s
}

    .amount_btn_grp button.active, .amount_btn_grp button:focus, .amount_btn_grp button:hover {
        border-color: var(--dark_text_color);
        box-shadow: var(--shadow_one)
    }

.amount_btn_grp {
    display: flex;
    flex-wrap: wrap
}

.gift_card_preview {
    background-color: var(--theme_color10);
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 35px;
    width: 100%;
    max-width: 370px;
    box-shadow: var(--shadow_two)
}

.gc_price {
    font-size: 40px;
    font-weight: 600;
    color: #fff
}

.gc_bg {
    background-image: url("data:image/svg+xml,%3Csvg width='217' height='200' viewBox='0 0 217 200' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M38.8188 200C14.6995 173.453 0 138.193 0 99.5C0 61.2907 14.3342 26.4293 37.9184 0H207C212.523 0 217 4.47715 217 10V190C217 195.523 212.523 200 207 200H38.8188Z' fill='white' fill-opacity='0.3'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right
}

.gc_logo {
    position: absolute;
    top: 20px;
    left: 20px
}

.gift_card_preview::after {
    content: "Gift Card";
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 20px
}

.gc_info_box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap
}

.gc_info_box {
    border-radius: 10px;
    border: 1px solid var(--border_color);
    padding: 15px
}

.custom_pop .modal-body {
    background-color: #fff;
    min-height: 250px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.custom_pop .modal-content {
    border-radius: 10px;
    overflow: hidden;
    border: none
}

.success_pop .modal-body {
    background-color: #68b212
}

.warning_pop .modal-body {
    background-color: #d8bc1e 
}

.error_pop .modal-body {
    background-color: #f33
}

.sw_btn_grp .nav-link.active, .sw_btn_grp .nav-link:hover {
    background-color: #fff;
    color: var(--dark_text_color);
    box-shadow: var(--shadow_one)
}

.sw_btn_grp .nav-link::before {
    display: none
}

.sw_btn_grp .nav-link {
    position: relative;
    font-size: 14px;
    color: var(--light_text_color);
    padding: .75rem 1rem;
    border-radius: 8px;
    margin-left: 3px
}

    .sw_btn_grp .nav-link:first-child {
        margin-left: 0
    }

.sw_btn_grp {
    background-color: #f2f2f2;
    border-radius: 10px;
    transform: translateY(0);
    padding: 3px
}

.loc_map {
    padding: 5px;
    border: 1px solid var(--border_color);
    border-radius: 10px;
    box-shadow: var(--shadow_one)
}

    .loc_map iframe {
        width: 100%;
        height: 400px;
        border-radius: 8px
    }

.loc_name {
    font-size: 18px;
    color: var(--dark_text_color);
    font-weight: 600;
    margin-bottom: 5px
}

.loc_address {
    color: var(--light_text_color)
}

.loc_list .accordion-item {
    border: 1px solid var(--border_color);
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 10px
}

    .loc_list .accordion-item:last-of-type .accordion-button.collapsed {
        border-radius: 10px
    }

.loc_list .accordion-button:focus, .loc_list .accordion-button:not(.collapsed) {
    border-bottom: 1px solid var(--border_color);
    box-shadow: none;
    border-radius: 10px 10px 0 0;
    background-color: #f5f5f5
}

.loc_list .accordion-button.collapsed {
    border-radius: 10px
}

.timings {
    padding: 0;
    margin: 0;
    font-size: 14px
}

    .timings li {
        margin: 10px 0
    }

.contact_info {
    padding: 15px 0 0 0;
    margin: 15px 0 auto 0;
    border-top: 1px solid var(--border_color)
}

    .contact_info li {
        display: inline-block;
        margin-left: 15px;
        min-width: 100px
    }

        .contact_info li .icon {
            width: 18px;
            height: 18px
        }

        .contact_info li:first-child {
            margin-left: 0
        }

        .contact_info li > div {
            display: flex;
            font-size: 14px;
            color: var(--dark_text_color);
            margin-bottom: 10px
        }

            .contact_info li > div span {
                margin-right: 5px
            }

.loc_img {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    min-height: 150px
}

.when_no_ultd_plan {
    border: 1px dashed #c4c4c4;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    border-radius: 10px;
    text-align: center;
    outline: 3px solid #fff;
    outline-offset: -5px;
    transition: all ease .3s
}

    .when_no_ultd_plan:hover {
        background-color: #f5f5f5
    }

.summary_card .cp_name {
    font-size: 18px;
    color: var(--dark_text_color);
    margin: 10px 0
}

.dash_bdr_top {
    border-top: 1px dashed #c4c4c4
}

.my_ultd_plan {
    border: 1px solid var(--border_color);
    border-radius: 10px;
    width: 100%;
    min-height: 250px;
    max-width: 670px;
    position: relative;
    padding: 25px
}

    .my_ultd_plan::before {
        width: 5px;
        height: 50px;
        background: linear-gradient(180deg,var(--theme_color10) 0,var(--theme_color20) 98.75%);
        content: '';
        position: absolute;
        top: 25px;
        left: 0;
        transition: all .2s ease-in-out
    }

.mup_head {
    margin-bottom: 15px
}

    .mup_head h3 {
        font-size: 20px;
        font-weight: 600;
        color: var(--dark_text_color)
    }

.my_ultd_plan .ser_img {
    width: 50px;
    height: 50px
}

    .my_ultd_plan .ser_img img {
        width: 30px;
        height: 30px
    }

.mup_info li {
    display: inline-block;
    width: max-content;
    margin: 10px auto;
    min-width: 250px
}

    .mup_info li span {
        color: var(--dark_text_color)
    }

    .mup_info li.mup_foot, .mup_info li:last-child {
        display: block;
        width: 100%;
        margin: 30px auto 0 auto
    }

.mup_info a {
    color: var(--theme_color10)
}

.cancel_reason_list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start
}

    .cancel_reason_list > div {
        flex-basis: 250px;
        margin: 15px 0
    }

    .cancel_reason_list label {
        line-height: 1.5;
        cursor: pointer
    }


.mp_info {
    padding: 15px 10px;
    border: 1px solid var(--border_color);
    margin-top: 5px;
    border-radius: 8px;
    transition: all ease 0.3s;
}

    .mp_info:hover {
        border-color: var(--theme_color10);
        cursor: pointer;
        box-shadow: var(--shadow_two);
    }

    .mp_info .mp_name {
        font-size: 13px;
        margin-bottom: 8px;
    }

    .mp_info .mp_price {
        font-size: 18px;
        color: var(--dark_text_color);
    }

.curnt_plan {
    position: relative;
    border: 1px solid var(--theme_color10);
}

    .curnt_plan::before {
        content: "Current Membership";
        position: absolute;
        bottom: 0;
        right: 0;
        background: linear-gradient(270deg,var(--theme_color10) 0,var(--theme_color20) 98.75%);
        padding: 3px 8px;
        font-size: 12px;
        color: white;
        border-radius: 0 0 6px 0;
    }

.best_value {
    font-size: 11px;
    text-transform: uppercase;
    padding: 2px 5px;
    background-color: yellowgreen;
    color: white;
    vertical-align: middle;
    position: relative;
    display: inline-block;
}

    .best_value::before {
        content: '';
        width: 0;
        height: 0;
        border-top: 10px solid yellowgreen;
        border-right: 10px solid transparent;
        position: absolute;
        right: -9px;
        top: 0;
    }

    .best_value::after {
        content: '';
        width: 0;
        height: 0;
        border-bottom: 10px solid yellowgreen;
        border-right: 10px solid transparent;
        position: absolute;
        right: -9px;
        bottom: 0;
    }

.mac_info a {
    position: relative;
}

    .mac_info a::before {
        content: "\0025B4";
        position: absolute;
        right: -15px;
        top: 2px;
    }

    .mac_info a.collapsed::before {
        content: "\0025BE";
        position: absolute;
        right: -15px;
        top: 2px;
    }

.more_mm .mm_name {
    font-size: 18px;
    margin-bottom: 10px;
}

.more_mm .mm_info {
    padding: 15px 0;
    border-top: 1px solid var(--border_color);
}

    .more_mm .mm_info label {
        font-size: 14px;
        line-height: 18px;
    }

    .more_mm .mm_info p {
        color: var(--dark_text_color);
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 0px;
    }

.profile_card h4 {
    font-size: 20px;
    font-weight: 600;
    color: var(--dark_text_color);
}

.profile_card a {
    color: var(--theme_color10);
}

    .profile_card a:hover {
        color: var(--theme_color20);
    }

.calendar {
    width: 16px;
    margin-top: -4px
}

.status_badge {
    position: relative;
}

    .status_badge::before {
        padding: 8px 16px;
        border-radius: 16px;
        font-size: 12px;
        content: '';
        position: absolute;
        top: 5px;
        right: 5px;
    }

.st_active::before {
    content: "Active";
    color: #ddba00;
    border: 1px solid #ddba00;
    background-color: #fff7cb
}

.st_redeemed::before {
    content: "Redeemed";
    color: var(--light_text_color);
    border: 1px solid var(--light_text_color);
    background-color: whitesmoke;
}

.wallet_item .ser_info h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--dark_text_color);
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 330px;
    white-space: nowrap;
}

.add_info_pop .modal-dialog {
    max-width: 700px;
}

.auth_form_sec p {
    line-height: 1.5;
}

.switch_form a {
    margin-left: 10px;
}

.notFound {
    text-align: center;
    padding: 36px 0;
}

.validationError {
    display: inline-block;
    margin-top: 6px;
    font-size: 12px;
}

.btnLoader {
    height: 22px;
    width: 22px;
    display: inline-block;
    margin-right: 8px;
}

.footer {
    margin-top: 24px;
}

.terms_modal .modal-dialog{
    max-width: 800px;
}

.terms_modal .modal-dialog .policy_wrap{ max-height: 600px; overflow-x:hidden; overflow-y: scroll; scrollbar-color: grey white;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Full screen loader */
.custom-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10001;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    position: relative;
}

.custom-overlay>div {
    color:#fff;
    width: 80px;
    height: 80px;
}
.termandcondition_link {
    color: #0d6efd;
    font-weight: 600;
}

.font_color {
    color: var(--theme_color10) !important;
}

#payment-form iframe {
    width: 100%;
    height: 60px !important;
}

.cpm_card .ser_img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
.card_type {
    display: flex;
    border-color: white;
    background-color: white;
}
.mac_more_info .service_box.cpm_card { margin-bottom: 0; min-height: 70px; padding: 5px 10px;}
.cpm_card .ser_info h3 {
    font-size: 1rem;
    line-height: 1;
    margin-bottom: 0;
}
.cpm_card:hover {
    border-color: var(--theme_color10);
    cursor: pointer;
    box-shadow: var(--shadow_two);
}
.cpm_card.active {
    border-color: var(--theme_color10);
    cursor: pointer;
    box-shadow: var(--shadow_two);
}
.cpm_card.recomm::before {
    content: 'Recommended';
    padding: 0.25rem 0.5rem;
    /* box-shadow: var(--shadow_three); */
    left: auto;
    right: 15px;
}
.cpm_card.preferred::before {
    content: 'Preferred';
    padding: 0.25rem 0.5rem;
    /* box-shadow: var(--shadow_three); */
    left: auto;
    right: 15px;
    text-transform: uppercase;
    color: #ddba00;
    background-color: #fff7cb;
    font-size: 10px;
    font-weight: 700;
    position: absolute;
    border-radius: 5px;
    top: -10px;
    letter-spacing: 1px;
}
.modal-body p{ line-height: 1.5;}
#credit-card-submit{ margin-top: 10px;}
#payment-form label{ margin-bottom: 10px;}
.add_card_pop button.btn-close{ position:absolute;top: 15px;right: 15px;}



.washes-pop-up .modal-content {
    text-align: center;
}

.washes-pop-up .modal-body img {
    padding: 0 0 15px 0;
}

.washes-pop-up .modal-body {
    padding: 4rem 1rem 2rem 1rem;
}

.washes-pop-up h2 {
    font-size: 20px;
    color: #121212;
    font-weight: 600;
}

.washes-pop-up p {
    font-size: 15px;
    color: #121212;
    font-weight: 400;
    line-height: 20px;
}

.washes-pop-up .modal-footer button {
    width: 100%;
    padding: 16px 0;
    font-size: 18px;
}

    .washes-pop-up .modal-footer button:nth-child(1) {
        background-color: #004FAC;
        color: white;
        position: relative;
    }

    .washes-pop-up .modal-footer button i {
        position: absolute;
        right: 5%;
        top: 33%;
    }

.washes-pop-up .modal-body .carousel-indicators [data-bs-target] {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #004FAC;
    background-clip: padding-box;
    /* border-bottom: 10px solid #004FAC; */
}

.washes-pop-up .modal-body .carousel-indicators {
    margin-bottom: -4rem;
}

.washes-pop-up .modal-footer {
    padding: 3rem 0.75rem 0.75rem 0.75rem;
    border-top: none;
}
div#root{min-height: 100vh;}

.fourofour_wrap {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.order_list,.loc_list,.wallet_data,.wash_list,.locationinfo .modal-body{
    scrollbar-width: thin;
    scrollbar-color:  #333333 #f5f5f5;    
    overflow-x: hidden;
    overflow-y: scroll;
}
.loc_list,.locationinfo .modal-body {
    height: 445px;
   
}
.wallet_data,.wash_list {
    max-height: 550px;
}
/*.pay_method_list{
    scrollbar-width: thin;
    scrollbar-color:  #333333 #f5f5f5;    
    overflow-x: hidden;
    overflow-y: scroll;
}
.pay_method_list {
    max-height: 550px;
}*/
.order_list{ max-height: 490px;}

.select_loc_pop .ser_info{ width: 100%;}
.select_loc_pop .service_box .main_btn{width: 180px;}
.zip_input_modal{ max-width: 250px; margin: 0 auto;}
.barcode_header{ display: flex; justify-content: space-between; gap: 15px; align-items: center;}
.barcode_header .back_link,.barcode_header .main_btn{ width: 180px; text-align: center; justify-content: center;}
.barcode_img { position: relative;}
.barcode_img .redeem_text {
    position: absolute;
    width: 100%;
    background-color: white;
    max-width: 100px;
    padding: 8px;
    left: 50%;
    z-index: 22;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.30);
    border-radius: 5px;
    top: 50%;
    transform: translate(-50%,-50%); cursor: pointer;
}

#credit-card-submit iframe{ height: 100% !important; max-height: 57px;}
.cursor_pointer{ cursor: pointer;}
.cursor_pointer:hover strong{ color: var(--theme_color10);}
.mac_info .mp_info{ border: none; padding: 0;}

.mp_name{line-height: 1.5;}

.mac_info .mp_info:hover{ box-shadow: none;}
.pay_method_list .table-responsive{ overflow: auto; max-height: 500px; }
.pay_method_list .table thead th { position: sticky; top: 0; z-index: 1; background-color: white; }
.amount_btn_grp.active{
    border-color: var(--dark_text_color);
    box-shadow: var(--shadow_one);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
     appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
