@media screen and (max-width:1400px){
.container{max-width:1320px}
}
@media screen and (min-width:1400px){
.container{max-width:1170px}
}
@media screen and (max-width:992px){
.row .col-md-4,.services_list .row .col-md-4{width:50%}
.navbar-light .navbar-toggler{border:none}
.navbar-toggler:focus{box-shadow:none}
.payment_method_wrap .order_summ_wrap{margin-top:25px}

}
@media screen and (max-width:900px){
.auth_right{display:none}
.auth_left{width:100%}
}
@media screen and (max-width:768px){
html body{font-size:15px}
.ser_img{width:50px;height:50px}
.ser_img img{width:30px;height:30px}
.ser_info h3{font-size:1.1rem}
.ser_info span{line-height:1.2rem}
.ser_info{width:calc(100% - 65px)}
.main_menu .navbar-expand-lg .navbar-nav .nav-link{padding:1.5rem 1rem}
.input_wrap{margin-bottom:10px}
}
@media screen and (max-width:640px){
.row .col-md-4{width:100%}
.services_list .row .col-md-4{width:50%}
}
@media screen and (max-width:568px){
.row .col-md-4,.services_list .row .col-md-4{width:100%}
.main_title h2{font-size:1.35rem}
}
@media screen and (max-width:500px){
.auth_form_sec .nav-pills .nav-item{width:calc(50% - 5px)}
.auth_form_sec .nav-pills .nav-link{width:100%;max-width:190px;height:100%;min-height:60px}
.auth_form_sec .nav-pills .nav-item:first-child{margin-right:5px}
.auth_form_sec .nav-pills .nav-item:nth-child(2){margin-left:5px}
.sw_btn_grp{ margin-top: 10px;}
}
@media screen and (max-width:400px){
.ma_card{flex-direction:column}
.mac_img{margin-right:0;margin-bottom:15px}
.ma_info_card .mac_info{width:100%}
.mac_info{min-height:140px}
}