/* Basic styles */
.skeleton {
    background: #ddd;
    margin: 10px 0;
    border-radius: 4px;
}
.skeleton.text {
    width: 100%;
    height: 12px;
}
.skeleton.title {
    width: 50%;
    height: 20px;
}
.skeleton.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.skeleton.thumbnail {
    width: 100px;
    height: 100px;
}


/* Gift card table */
.gift-card-table td {
    text-align: center;
    text-align: -webkit-center;
}
.gift-card-table td:first-child .skeleton {
    width: 200px;
    text-align: left;
    text-align: -webkit-left;
}
.gift-card-table td:nth-child(2) .skeleton {
    width: 130px;
}
.gift-card-table td:nth-child(3) .skeleton {
    width: 190px;
}
.gift-card-table td:last-child .skeleton {
    width: 40px;
}

/* Payment method credit card */